.box{
	font-family: 'Anton', sans-serif;
	background-color: #99e6ff;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
div {
	margin-top: 20px;
	padding: 5px;
	background-color: rgb(153, 255, 204, 0.5);
	border-radius: 10px;
}
